<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.cocktailapp">

	<uses-sdk
		android:maxSdkVersion="14"
		android:minSdkVersion="14"
		android:targetSdkVersion="14"/>

	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.READ_PROFILE"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".LoginActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".SignUpActivity"
			android:label="@string/activity_sign_up_title"
			android:parentActivityName=".LoginActivity"
			android:theme="@style/AppTheme.NoActionBar">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.example.cocktailapp.LoginActivity"/>
		</activity>
		<activity
			android:name=".SignInActivity"
			android:label="@string/activity_sign_in_title"
			android:parentActivityName=".LoginActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.example.cocktailapp.LoginActivity"/>
		</activity>
	</application>
</manifest>